<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style2.css'%}">
    <title>Батутная арена Мистерия</title>
</head>
<body>
    <p>
        <img src="Арена.jpg" alt="Батутный центр" class="photo-card">
    </p>
    {% for item in People %}
        {{item}}<br>
    {% endfor %}
    <h1 class="registration">Добро пожаловать в наш батутный центр</h1>
    <p class="but">Для начала нужно зарегистрироваться, чтобы продолжить:</p>
    <h2 class="but">Регистрация</h2>
<form method="POST" class="but">
        {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" value="Send">
</form>
    <div class="a">
<a href="opisanie" class="onas">О нас</a>
    </div>
</body>
</html>