<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/stylemenu.css'%}">
    <title>Батутная арена Мисетрия</title>
</head>
<body>
    <h1 class="registration">Батутный центр Мистерия</h1>
    <p class="opis" >Вы можете выбрать удобное для Вас время для посещения: </p>
    <img src="Календарь.jpg" class="photo-card">
    <div class="a">
        <a href="opisanie" class="onas">О нас</a>
    </div>
    <div class="a">
        <a href="price" class="money">Наши цены</a>
    </div>
</body>