<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styleopisanie.css'%}">
    <title>Батутная арена Мисетрия</title>
</head>
<body>
    <div class="tex">
        <p class="text">
    БАТУТНАЯ АРЕНА МИСТЕРИЯ – самый большой и современный батутный центр в Минске!
    Нет взрослых, есть выросшие дети. Целыми днями работа-работа, серьезные дела? Почувствуй себя вновь ребенком! Просто приезжай в батутный центр Мистерия XL в Минске за хорошим настроением!
    ПОЧЕМУ БАТУТНЫЙ ЦЕНТР МИСТЕРИЯ XL
    у нас 24 батута!
    крутейшая профзона : ФРИСТАЙЛ-БАТУТ, 3 спортивных с классическими белыми сетками и суперпрыгучей AIRMAX,
    3 поролоновые ямы,
    тумбы для запрыгивания и паркура разного уровня,
    несколько зон развлечения с тарзанками, скалодромом, горками, качелями, лазалками, которые не оставят равнодушными вас, ваших друзей и близких;
    есть зона ожидания с диванчиками. вкусное кофе, чай, бесплатный WI-FI, раздевалки и душевые.
        </p>
        <img src="Арена.jpg" alt="Батутная арена Мистерия" class="photo">
    </div>
</body>